* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background-color: #19a1ad;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
svg:first-child {
  position: absolute;
  left: -500px;
  top: -500px;
}
svg:last-child {
  position: absolute;
  right: -600px;
  bottom: -650px;
}
.container {
  position: relative;
  z-index: 1000;
  width: 90%;
  height: 500px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
